* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
ul,
ol,
li {
  list-style: none;
}
html {
  font-size: 100%;
  height: 100%;
}
body {
  height: 100%;
}

.header {
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  > .header__menu {
    background-color: black;
    > i {
      color: white;
    }
  }
  > .user-info {
    display: flex;
    align-items: center;
    > .user-info__image {
      margin-right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    > .user-info__name {
      color: white;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
  > .room-list {
    margin: 0px 10px 0px 10px;
    overflow: auto;
    border: 1px solid white;
    border-radius: 5%;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    > .room-list__title {
      color: white;
      text-align: center;
      padding-top: 10px;
    }
    > .serach {
      display: flex;
      padding: 20px 20px 0px 20px;
      width: 100%;
      > .search__input {
        color: white;
        height: 30px;
        border-radius: 50px;
        padding: 0px 20px 0px 20px;
        background-color: #222225;
        flex: 1;
      }
      > .search__btn {
        background-color: black;
        color: white;
      }
    }
    > .room {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid white;
      padding: 0px 20px 0px 20px;
      margin: 20px 20px 0px 20px;
      > .room__name {
        color: white;
        display: -webkit-box;
        /* 글씨 줄이 2줄이 최대로 고정 시키는 것 */
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      > .room__btn {
        > .room__join {
          background-color: black;
          color: white;
        }
      }
    }
  }
  > .my-room-list {
    flex: 1 1 50%;
    border: 1px solid white;
    border-radius: 5%;
  }
  .my-room-list {
    margin: 0px 10px 0px 10px;
    > .my-room-list__title {
      color: white;
      text-align: center;
      padding-top: 10px;
    }
    > .my-room-serach {
      display: flex;
      padding: 20px 20px 0px 20px;
      width: 100%;
      > .my-room-serach__text {
        flex: 1;
        color: white;
        height: 30px;
        border-radius: 50px;
        padding: 0px 20px 0px 20px;
        background-color: #222225;
      }
      > .my-room-serach__button {
        background-color: black;
        color: white;
      }
    }
    > .my-room {
      display: flex;
      padding: 0px 20px 0px 20px;
      margin: 20px 20px 0px 20px;
      border-bottom: 1px solid white;
      justify-content: space-between;
      overflow: auto;
      > .my-room__name {
        color: white;
        display: -webkit-box;
        /* 글씨 줄이 2줄이 최대로 고정 시키는 것 */
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      > .room-btn {
        padding-right: 20px;
        > .room-btn__join {
          margin-right: 20px;
        }
        > button {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
