*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
.container-fluid{
    width: 1000px;
    margin-top: 8rem;
}
#image_wrap{
    float: left;
}
#user_image{
    width: 300px;
    height: 400px;
    margin-top: 1rem;
}
.btn{
    float: right;
}